# Thu vien cot loi cho Training
torch>=2.0.0
torchvision
torchaudio

# Giao tiep voi Google Cloud Storage
gcsfs
google-cloud-storage
fsspec

# Xu ly du lieu Big Data
pandas
pyarrow
fastparquet

# Deep Learning Utilities
sentence-transformers
transformers
numpy
tqdm
