# Google Cloud Storage
gcsfs
google-cloud-storage
fsspec

# Data processing
pandas
pyarrow
fastparquet

# ML / NLP utilities
sentence-transformers==2.7.0
transformers==4.40.1
datasets>=2.19.0
numpy
tqdm
rank_bm25